In [81]:
import pandas as pd
from datetime import datetime

In [82]:
data = pd.read_csv('train.csv')

In [83]:
data.shape

(5847, 14)

In [84]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [85]:
missing_values = data.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [86]:
# Clean and convert 'Mileage', 'Engine', 'Power' to numeric
for col in ['Mileage', 'Engine', 'Power']:
    data[col] = data[col].str.extract(r'(\d+\.\d+|\d+)')
    data[col] = pd.to_numeric(data[col], errors='coerce')

In [87]:
# Impute missing values
data['Mileage'].fillna(data['Mileage'].median(), inplace=True)
data['Engine'].fillna(data['Engine'].median(), inplace=True)
data['Power'].fillna(data['Power'].median(), inplace=True)
data['Seats'].fillna(data['Seats'].mode()[0], inplace=True)

# Drop column with too many missing values
data.drop(columns=['New_Price'], inplace=True)

<ipython-input-87-d65efc787bf1>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Mileage'].fillna(data['Mileage'].median(), inplace=True)
<ipython-input-87-d65efc787bf1>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Engine'].fillna(data['Engine'].median(), inplace=True)
<ipython-input-87-d65efc787bf1>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Power'].fillna(data['Power'].median(), inplace=True)
<ipython-input-87-d65efc787bf1>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Seats'].fillna(data['Seats'].mode()[0], inplace=True)

In [88]:
missing_values = data.isnull().sum()
missing_values

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [89]:
# One-hot encode categorical features
data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'], drop_first=True)
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,False,False,True
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,True,True
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,False,False,True
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,False,False,True

In [91]:
data_dummies = ['Fuel_Type_Electric', 'Fuel_Type_Petrol', 'Transmission_Manual']
data[data_dummies] = data[data_dummies].astype(int)
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,0,0,1,10
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,1,1,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,0,0,1,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,0,0,0,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,0,0,1,12

In [90]:
# Create new feature - Car Age
current_year = datetime.now().year
data['Car_Age'] = current_year - data['Year']

In [49]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,False,False,True,10
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,True,True,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,False,False,True,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,False,False,True,12

In [50]:
# Drop unnecessary column and rename one for clarity
data.drop(columns=['Unnamed: 0'], inplace=True)
data.rename(columns={'Name': 'Model_Name'}, inplace=True)

In [51]:
data.head()

,Model_Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,False,False,True,10
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,True,True,14
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,False,False,True,13
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,12
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,False,False,True,12

In [52]:
# Data manipulation

# Select relevant columns
selected_data = data[['Model_Name', 'Location', 'Car_Age', 'Mileage', 'Engine', 'Power', 'Price']]
selected_data.head()

,Model_Name,Location,Car_Age,Mileage,Engine,Power,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,10,19.67,1582.0,126.20,12.50
1,Honda Jazz V,Chennai,14,13.00,1199.0,88.70,4.50
2,Maruti Ertiga VDI,Chennai,13,20.77,1248.0,88.76,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,12,15.20,1968.0,140.80,17.74
4,Nissan Micra Diesel XV,Jaipur,12,23.08,1461.0,63.10,3.50

In [53]:
# Filter for cars less than or equal to 8 years old
filtered_data = selected_data[selected_data['Car_Age'] <= 8]
filtered_data.head()

,Model_Name,Location,Car_Age,Mileage,Engine,Power,Price
8,Maruti Ciaz Zeta,Kochi,7,21.56,1462.0,103.25,9.95
15,Maruti Swift DDiS VDI,Jaipur,8,28.40,1248.0,74.00,5.99
26,Honda WRV i-VTEC VX,Kochi,7,17.50,1199.0,88.70,9.90
34,Maruti Vitara Brezza ZDi Plus,Kochi,7,24.30,1248.0,88.50,8.63
35,Mahindra KUV 100 mFALCON G80 K6 5str AW,Delhi,8,18.15,1198.0,82.00,4.85

In [54]:
# Rename Power to Horsepower
filtered_data = filtered_data.rename(columns={'Power': 'Horsepower'})
filtered_data.head()

,Model_Name,Location,Car_Age,Mileage,Engine,Horsepower,Price
8,Maruti Ciaz Zeta,Kochi,7,21.56,1462.0,103.25,9.95
15,Maruti Swift DDiS VDI,Jaipur,8,28.40,1248.0,74.00,5.99
26,Honda WRV i-VTEC VX,Kochi,7,17.50,1199.0,88.70,9.90
34,Maruti Vitara Brezza ZDi Plus,Kochi,7,24.30,1248.0,88.50,8.63
35,Mahindra KUV 100 mFALCON G80 K6 5str AW,Delhi,8,18.15,1198.0,82.00,4.85

In [55]:
# Mutate - Add Price per Horsepower column
filtered_data['Price_per_HP'] = filtered_data['Price'] / filtered_data['Horsepower']
filtered_data.head()

,Model_Name,Location,Car_Age,Mileage,Engine,Horsepower,Price,Price_per_HP
8,Maruti Ciaz Zeta,Kochi,7,21.56,1462.0,103.25,9.95,0.096368
15,Maruti Swift DDiS VDI,Jaipur,8,28.40,1248.0,74.00,5.99,0.080946
26,Honda WRV i-VTEC VX,Kochi,7,17.50,1199.0,88.70,9.90,0.111612
34,Maruti Vitara Brezza ZDi Plus,Kochi,7,24.30,1248.0,88.50,8.63,0.097514
35,Mahindra KUV 100 mFALCON G80 K6 5str AW,Delhi,8,18.15,1198.0,82.00,4.85,0.059146

In [56]:
# Arrange - Sort by Price per Horsepower
arranged_data = filtered_data.sort_values(by='Price_per_HP', ascending=False)
arranged_data.head()

,Model_Name,Location,Car_Age,Mileage,Engine,Horsepower,Price,Price_per_HP
3952,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,8,13.33,2993.0,255.00,160.00,0.627451
1457,Land Rover Range Rover Sport SE,Kochi,6,12.65,2993.0,255.00,97.07,0.380667
4893,Land Rover Discovery Sport TD4 HSE 7S,Coimbatore,6,12.81,1999.0,148.31,56.14,0.378531
2949,Land Rover Discovery Sport TD4 HSE,Coimbatore,6,12.63,2179.0,147.50,55.70,0.377627
908,Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic,Kochi,7,15.68,1999.0,177.00,59.72,0.337401

In [57]:
# Summarize - Group by Location and get average Price
summary_data = data.groupby('Location')['Price'].mean().reset_index().rename(columns={'Price': 'Average_Price'})
summary_data.head()

     Location  Average_Price
0   Ahmedabad       8.567248
1   Bangalore      13.482670
2     Chennai       7.958340
3  Coimbatore      15.160206
4       Delhi       9.881944

In [58]:
# Save outputs (optional)
arranged_data.to_csv('arranged_output.csv', index=False)
summary_data.to_csv('summary_output.csv', index=False)
data.to_csv('cleaned_used_cars.csv', index=False)